<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>myaeis</title>
    </h:head>
    <h:body>
        <h3>Admin role test page</h3>
        <h:link outcome="logout" value="Back"/>
    </h:body>
</html>